:host {
  display: block;
  min-height: 100%;
  background-color: #eaf1f9;
}

.app-shell {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2% 0;
}


